.sigPanelContentWrap {
    padding: 20px 50px;

    .sigWrap {
        padding: 20px 0;

        .sigStack {
            .sigRole {
                line-height: 30px;
                width: 150px;
            }
            
            .sigDoneWrap {
                line-height: 30px;
            }
        }
    }
}
